* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.flex {
  display: flex;
}


/* ------------------------------------------------block--top-------------------------------------------- */

.block--top {
  background-image: url('assets/img/background-header+slider.png');
  background-size: cover; 
  padding-bottom: 70px;
}

header {
  padding-top: 30px;
  justify-content: space-between;
}

.logo {
  position: relative;
}

.logo__img-2 {
  position: absolute;
}

header .logo__img-2 {
  left: -2px;
  top: -4px;
}

h1 {
  margin-top: 5px;
  margin-left: 10px;
  text-transform: uppercase;
  align-self: center;
  color: #fff;
  font-family: 'Lucida Sans';
  font-size: 41px;
  font-style: italic;
}

.main-menu {
  position: relative;
  top: -1px;
  width: 453px;
  height: 41px;
  align-self: flex-end;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.main-menu::before, .main-menu::after {
  display: block;
  content: "";
  position: absolute;
  width: 453px;
  height: 41px;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  opacity: 0.27;
}

.main-menu::before {
  left: -5px;
  top: -5px;
}

.main-menu::after {
  left: -9px;
  top: -9px;
}

.main-menu__list {
  position: absolute;
  z-index: 5;
}

.main-menu__item {
  padding: 8px;
  list-style: none;
  align-self: center;
}

.main-menu__item--about {
  width: 172px;
}

.main-menu__item--services {
  width: 133px;
}

.main-menu__item--contact {
  width: 148px;
}

.main-menu__item:not(:last-child) {
  border-right: 1px solid #9b7d08;
}

.main-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu__item a {
  font-family: 'Segoe WP';
  font-size: 17px;
  margin-left: 10px;
  color: #9b7d08;
}

.main-menu__item--about a {
  margin-left: 30px;
}

.main-menu__item:hover > a {
  cursor: pointer;
  color: #fff;
}

 .main-menu__item span {
  margin-left: 2px;
}

.slider {
  position: relative;
  margin-top: 55px;
}

.slider button {
  position: absolute;
  top: 130px;
  width: 32px;
  height: 57px;
  border: none;
  outline: none;
  background-color: #f5c506;
}

.slider button img {
  width: 13px;
  height: 19px;
  margin-top: 7px; 
}

.slider-button-right {
  right: 0;
}

.slider button:hover > img {
  cursor: pointer;
  transform: scale(1.5);
}

.slide {
  justify-content: space-between;
}

.slider video {
  margin-left: 10px;
}

.slider video::-webkit-media-controls-play-button {
  position: absolute;
  left: 30px;
  bottom: 20px;
  width: 26px;
  height: 26px;
  background-color: #f5c506;
  opacity: 0.72;
}

.slider video::-webkit-media-controls-timeline {
  position: absolute;
  left: 80px;
  bottom: 20px;
  background-color: #f5c506;
  width: 300px;
  border-radius: 20px;
  opacity: 0.72;
}

.slider video::-webkit-media-controls-mute-button {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 26px;
  height: 26px;
  background-color: #f5c506;
  opacity: 0.72;
}

.slider video::-webkit-media-controls-current-time-display,
.slider video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.slider p {
  /* align-self: center; */
  padding-top: 70px;
  margin-right: 23px;  
  text-align: center;
  text-transform: uppercase;
  font-family: 'Asap';
  font-size: 63px;
  color: #fff;
}

.slider span {
  color: #f5c506;
}

/* -------------------------------------------------------block--icon-area------------------------------------------------ */

.block--icon-area {
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-end;
}

.icon-item {
  width: 342px;
  height: 213px;
  border-right: 0.5px solid #d0d0d0;
}

.icon-item:first-of-type {
  border-left: 0.5px solid #d0d0d0;
}

.icon-item--better-disign {
  padding-right: 5px;
  padding-top: 60px;
}

.icon-item--better-disign img {
  display: block;
  width: 110px;
  margin: 0 auto;
}

.icon-item--better-disign p {
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: 0.5px;
 }

.icon-item--customise {
  padding-left: 20px;
  padding-top: 36px;
}

.icon-item--customise img {
  display: block;
  width: 92px;
  margin: 0 auto;
}

.icon-item--customise p {
  margin-top: 14px;
  margin-left: 5px;
  letter-spacing: 0.5px;
 }

.icon-item--free  {
  padding-right: 25px;
  padding-top: 52px;
}

.icon-item--free img {
  display: block;
  width: 82px;
  margin: 0 auto;
}

.icon-item--free p {
  margin-top: 10px;
  margin-left: 9px;
 }

.icon-item p {
  font-family: 'Segoe UI';
  font-size: 27.05px;
  text-transform: uppercase;
  text-align: center;
}

/* ------------------------------------------------------block--section-one------------------------------------------------ */

.block--section-one {
  padding-top: 34px;
  padding-bottom: 20px;
  background-image: url('assets/img/background-s1.png');
  background-size: cover; 
}

.block--section-one h2 {
  
  margin-left: 2px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-size: 37px;
  letter-spacing: 0.5px;
  color: #fff;
}

.block--section-one .box-container {
  height: 378px;
  justify-content: space-between;
  margin-top: 26px;
  overflow-x: scroll;
}

.block--section-one p {
  font-family: 'Segoe WP';
  font-size: 29px;
}

.box-container video {
  width: 316px;
}

.box-container video::-webkit-media-controls-panel {
  display: none;
}

.box--video {
  position: relative;
}

.play-video-button {
  content: "";
  display: block;
  position: absolute;
  top: 90px;
  left: 130px;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #f5c506;
  opacity: 0.72 ;
}

.play-video-button img {
  margin-left: 5px;
}

.block--section-one .box:first-of-type {
  width: 340px;
  height: 232px;
  background-color: #ec9e03;
  padding: 12px 26px;
} 

.box {
  position: relative;
}

.box p {
  font-size: 29px;
  color: #fff;
}

.box--twitter {
  width: 330px;
  height: 232px;
  margin-left: 35px;
  background-color: #ec9e03;
  flex-shrink: 0;
}

.box--twitter span {
  position: absolute;
  right: 20px;
  top: 11px;
  font-family: 'Segoe WP';
  font-size: 25px;
  color: #fff;
}

.box--twitter .twitter-icon {
  margin-top: 20px;
  margin-left: 80px 
}

.box__button--plus {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  border: none;
  outline: none;
  background-color: transparent; 
}

.box__button--plus:first-of-type {
  right: 15px;
  bottom: 15px;
 }

 .box__button--plus:last-of-type {
  right: 15px;
  bottom: 15px;
 }

.box__button--plus:hover {
 cursor: pointer;
 transform: scale(1.5);
}

.box--date {
  width: 112px;
  height: 85px;
  padding: 0 30px;
  background-color: #ddb101;
}

.box--date__day {
  display: block;
  /* margin-top: -5px; */
  /* margin-left: 30px; */
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 51px;
  color: #fff;
}

.box--date__month {
  display: block;
  margin-top: -15px;
  text-transform: uppercase;
  font-family: 'Segoe UI';
  font-size: 21px;
  color: #b87025;
}

.box-container::-webkit-scrollbar {
  width: 15px;
}

.box-container::-webkit-scrollbar-track {
  background: #f9e282;
  border-radius: 20px;
}

.box-container::-webkit-scrollbar-thumb {
  background: #ec9e03;
  border-radius: 20px;
}

/* -----------------------------------------------------------block--section-two------------------------------------- */

.block--section-two {
  padding-top: 35px;
  padding-bottom: 80px;
  background-image: url('assets/img/background-s2.png');
  background-size: cover; 
  box-shadow: inset 0 -8px 5px -3px #212121;
}

.block--section-two h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'PT Sans';
  font-weight: normal;
  font-size: 43px;
  letter-spacing: 0.5px;
  color: #f5c506;
}

.block--section-two .box-container {
  margin-top: 30px; 
}
 
.block--section-two .box:first-of-type {
  position: relative;
  width: 600px;
}

.block--section-two .box:first-of-type img {
  margin-left: 22px;
}

.block--section-two .box:first-of-type img:last-of-type {
  margin-top: 120px;
}

.block--section-two .stiker {
  position: absolute;
  top: -25px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #f5c505;
}

.block--section-two .stiker span {
  margin-top: 48px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-size: 17px;
  color: #fff;
}

.block--section-two .box:last-of-type {
  position: relative;
  width: 400px;
}

.block--section-two__list {
  margin-top: 60px;
}

.block--section-two__list-item {
  margin-left: 37px;
  /* margin-top: 10px; */
  font-family: 'Open Sans';
  font-size: 22px;
  color:#979795;
  list-style: none;
}

.block--section-two__list-item::before {
  content: "";
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-color: #f5c506;
  border-radius: 50%;
}

/* -----------------------------------------------------------footer------------------------------------------- */

footer {
  padding-top: 5px;
  background-color: #4c4c4c;
  background-size: cover; 
}

footer .logo img {
  width: 54px;
}

footer .logo__img-2 {
  left: 0;
  top: 0;
}

footer h2 {
  margin-left: 7px;
  font-family: 'Lucida Sans';
  font-size: 29px;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
  align-self: center;
}