* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.flex {
  display: flex;
}


/* ------------------------------------------------block--top-------------------------------------------- */

.block--top {
  background-image: url('assets/img/background-header+slider.png');
  background-size: cover; 
  padding-bottom: 70px;
}

header {
  padding-top: 30px;
  justify-content: space-between;
}

h1 {
  margin-left: 5px;
  text-transform: uppercase;
  align-self: center;
  color: #fff;
  font-size: 41px;
  font-style: italic;
}

.main-menu {
  width: 453px;
  height: 41px;
  align-self: flex-end;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

/* .main-menu::after, .main-menu::before {
  content: '';
  display: block;
  position: relative;
  opacity: 0.27;
}

.main-menu::after {
  top: 10px;
  left:10px;
}

.main-menu {
  z-index: 10;
} */

.main-menu__item {
  padding: 8px;
  list-style: none;
  align-self: center;
}

.main-menu__item--about {
  width: 172px;
}

.main-menu__item--services {
  width: 133px;
}

.main-menu__item--contact {
  width: 148px;
}

.main-menu__item:not(:last-child) {
  border-right: 1px solid black;
}

.main-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
}

.slider {
  position: relative;
  margin-top: 55px;
}

.slider button {
  position: absolute;
  top: 130px;
  width: 32px;
  height: 57px;
  border: none;
  outline: none;
  background-color: #f5c506;
}

.slider button img {
  width: 13px;
  height: 19px;
}

.slider-button-right {
  right: 0;
}

.slide {
  justify-content: space-between;
}

.slider p {
  align-self: center;
  padding: 10px;  
  text-align: center;
  text-transform: uppercase;
  font-size: 63px;
}

/* -------------------------------------------------------block--icon-area------------------------------------------------ */

.block--icon-area {
  margin: 40px auto;
  justify-content: space-around;
  align-items: flex-end;
}

.icon-item p {
  margin-top: 20px;
  text-transform: uppercase;
}

/* ------------------------------------------------------block--section-one------------------------------------------------ */

.block--section-one {
  background-image: url('assets/img/background-s1.png');
  background-size: cover; 
  padding-top: 40px;
  padding-bottom: 20px;
}

.block--section-one h2 {
  font-size: 37px;
  color: #fff;
}

.box-container {
  height: 378px;
  justify-content: space-between;
  margin-top: 40px;
  overflow-x: scroll;
}

.block--section-one .box:first-of-type {
  width: 340px;
  height: 232px;
  background-color: #ec9e03;
  padding: 30px;
} 

.box {
  position: relative;
}

.box p {
  font-size: 29px;
  color: #fff;
}

.box--twitter {
  width: 330px;
  height: 232px;
  margin-left: 35px;
  background-color: #ec9e03;
  flex-shrink: 0;
}

.box--twitter span {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  color: #fff;
}

.box--twitter img {
  margin: auto;
}

.box__button--plus {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  outline: none;
  background-color: transparent; 
}

.box__button--plus:hover {
 cursor: pointer;
 transform: scale(1.5);
}

.box--date {
  width: 112px;
  height: 85px;
  padding: 0 30px;
  background-color: #ddb101;
}

.box--date__day {
  display: block;
  font-size: 51px;
  color: #fff;
}

.box--date__month {
  display: block;
  text-transform: uppercase;
  font-size: 21px;
  color: #b87025;
}

.box-container::-webkit-scrollbar {
  width: 15px;
}

.box-container::-webkit-scrollbar-track {
  background: #f9e282;
  border-radius: 20px;
}

.box-container::-webkit-scrollbar-thumb {
  background: #ec9e03;
  border-radius: 20px;
}